body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.container-fluid {
  padding: 3% 7% 3%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
  color: #1fab89;
}

.title{
  font-weight: bold;
  color:#1fab89;
  padding-top: 1%;
}

.title_goal{

  font-weight: lighter;
  text-align: center;
  color:#1fab89;
  padding-top: 1%;
  padding-bottom: 50px;

}

.navbar-brand:hover { color: #1fab89;
  text-shadow:0px 0px 30px #1fab89;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1fab89;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.op{

  color: #1fab89;
  padding-top: 3%;
  padding-bottom: 100%;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #1b262c;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.card{
  margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 30px; /* Added */
        /* border-radius: 20% */

}
.card-header {
  background-color: #1fab89;
  border-radius: 20%

}
.card-footer{
  background-color: #1fab89;
  border-radius: 20%
}

.fa-ch {
  /* text-align: center; */
  margin: auto;
  font-size: 13em !important;
}

.add1{
  color: #1fab89;
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 1.5rem
}

a:hover {
  color: #307672;
  text-decoration: none;

}

.card-deck{

  padding-top: 20px;

}

#first{

  background-color: #dbf6e9;
  padding-bottom: 50px;
}
#second{
  background-color: #dbf6e9;
  padding-bottom: 50px;
  margin: auto;

}

#third{
  background-color: #dbf6e9;
  padding-bottom: 50px;
  margin: auto;

}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

#footer {
  text-align: center;
  background-color: #dbf6e9;
  padding: 7% 15%

}

.footer-ic {
  margin: 20px 10px;
  color: #307672;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
