{% extends 'child_base.html' %}

{% block header %}
  <h1>{% block title %}CHILD REGISTER{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="child_username">child_username</label>
    <input name="child_username" id="child_username" required>

    <label for="parent_email">Parent_Email</label>
    <input name="parent_email" id="parent_email" required>


    <label for="child_password">child_password</label>
    <input type="password" name="child_password" id="child_password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}
