

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="parent_username">Parent Username</label>
    <input name="parent_username" id="parent_username" required>

	<label for="child_username">Child Username</label>
    <input name="child_username" id="child__username" required>

	<label for="parent_password">Parent Password</label>
    <input type="password" name="parent_password" id="parent_password" required>
    <input type="submit" value="Log In">
  </form>
{% endblock %}
