{% extends 'child_base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ goals['goal_name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="goal_name">GOAL NAME </label>
    <input name="goal_name" id="goal_name" value="{{ request.form['goal_name'] or goals['goal_name'] }}" required>
    
    <label for="income_amt">INCOME AMT PER MONTH</label>
    <input name="income_amt" id="income_amt" value = "{{ request.form['income_amt'] or goals['income_amt'] }}" required>
    
    <label for="goal_amt">GOAL AMT</label>
    <input name="goal_amt" id="goal_amt" value =  "{{ request.form['goal_amt'] or goals['goal_amt'] }}" required> 
    
    <label for="saving_amt">SAVING AMT PER MONTH</label>
    <input name="saving_amt" id="saving_amt" value = "{{ request.form['saving_amt'] or goals['saving_amt'] }}" required>
    
    <label for="emergency_amt">EMERGENCY AMT PER MONTH</label>
    <input name="emergency_amt" id="emergency_amt" value = "{{ request.form['emergency_amt'] or goals['emergency_amt'] }}" required>
    <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('goal.delete', goal_id=goals['goal_id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>

  {% endblock %}